@charset "utf-8";

.detail_body {
  background-color: #271b0f;
}
.detail_img {
  width: 860px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}
@media screen and (max-width: 899px){
  .detail_img {
    width: 100%;
  }
}