* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Nanum Gothic", sans-serif;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  outline: 0;
  color: #271b0f;
}
img {
  display: block;
}
